/.kiro
/.idea
/.vscode
/.env
/.env.dev
/var
/vendor
/node_modules
/package-lock.json
/composer.lock
/public/assets
/vite.config.ts
/config/reference.php
/public/bundles
/coverage
/.phpunit.result.cache
/.php-cs-fixer.cache