<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="vendor/autoload.php"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnPhpunitNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/App/Tests</directory>
        </testsuite>
    </testsuites>

    <coverage/>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <file>src/Kernel.php</file>
            <file>src/Application/Classes/Installer.php</file>
            <file>src/Application/Command/SetupCommand.php</file>

            <directory>src/Administration/Controller</directory>

            <directory>src/Application/Controller</directory>
            <directory>src/Application/Entity</directory>

            <directory>src/Authentication/Controller</directory>
            <directory>src/Authentication/Entity</directory>
            <directory>src/Authentication/Form</directory>
            <directory>src/Authentication/Repository</directory>

            <directory>src/Core/Controller</directory>
            <directory>src/Core/Entity</directory>
        </exclude>
    </source>
</phpunit>